<!-- <div class="wrapper">
  <h1>Drop to right options</h1>
  <div class="image">
    <div class="box drop-zone" onDrop (droppedId)=handleItem($event) {id: , droppedId: id} *ngFor="let label of labels">
      {{ label.label }}
      <div class="dropped-item" *ngFor="let dropped of getDrppedFiles(lable.id)">display here</div>
    </div>
  </div>

  <div class="options">
    <span class="close">click = reset original position(id)</span>
    <div class="option" *ngFor="let option of options">
      {{ option.option }}
    </div>
  </div>
  <button>Submit</button> -->
  <!-- <div *ngIf="isSubmit">Your score is {{ score }}</div> -->
<!-- </div> -->
